.container {
  width: 100%;
  background-color: hsl(180, 31%, 95%);
  box-shadow: 0px 4px 14px -9px rgba(0, 0, 0, 0.34);
  color: hsl(180, 29%, 50%);
  margin-bottom: 26px;
  border-radius: 6px;
  position: relative;
}

.innerContainer {
  padding: 18px 34px;
  display: flex;
  position: relative;
}

.image {
  margin-right: 24px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardLeft{
  display: flex;
  width: auto;
  margin-bottom: 16px;
  margin-top: 16px;
}

.header {
  display: flex;
  align-items: center;
}

.company {
  font-size: 20px;
  margin-right: 20px;
}

.badgesWrapper {
  display: flex;
  align-items: center;
}

.newBadget {
  background-color: hsl(180, 29%, 50%);
  color: hsl(180, 31%, 95%);
  border-radius: 30px;
  padding: 6px 9px;
  font-size: 15px;
  margin-right: 10px;
}

.featuredBadget {
  background-color: hsl(180, 14%, 20%);
  color: hsl(180, 31%, 95%);
  border-radius: 30px;
  padding: 6px 9px;
  font-size: 15px;
  margin-right: 10px;
}

.position {
  font-weight: 700;
}

.detailInfo {
  display: flex;
  align-items: center;
  color: hsl(180, 8%, 52%);
}

.tagsWrapper {
  display:flex;
  row-gap: 10px;
  margin-bottom: 16px;
  margin-top: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  background-color: hsl(180, 33%, 91%);
  font-size: 20px;
  font-weight: 600;
  margin-right: 16px;
  padding: 8px 8px;
  border-radius: 4px;
  color: hsl(180, 29%, 50%);
  position: relative;
  display: flex;
  align-items: center;
  border: 0px;
  cursor: pointer;
  transition: 200ms;
}

.tag:hover {
  color: hsl(180, 33%, 91%);
  background-color: hsl(180, 29%, 50%);
}

.featuredCardIdentifier{
    width: 4px;
    height: 100%;
    background-color: hsl(180, 29%, 50%);
    position: absolute;
    left: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    background-color: hsl(180, 31%, 95%);
    box-shadow: 0px 4px 14px -9px rgba(0, 0, 0, 0.34);
    color: hsl(180, 29%, 50%);
    margin-bottom: 56px;
    border-radius: 6px;
  }

  .image {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
  }
  .header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .company {
    font-size: 20px;
    margin-right: 20px;
  }

  .position {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
  }

  .innerContainer {
    padding: 34px 26px;
    display: flex;
    position: relative;
    padding-bottom: 10px;
  }

  .tagsWrapper {
    position: initial;
    display: grid;
    row-gap: 0px;
    grid-template-columns: auto auto auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
  }

  .cardLeft{
    width: 100%;
  }


  .infoWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tag {
    background-color: hsl(180, 33%, 91%);
    font-size: 16px;
    font-weight: 700;
    margin-right: 16px;
    padding: 8px 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    color: hsl(180, 29%, 50%);
    position: relative;
    display: flex;
    align-items: center;
    border: 0px;
    cursor: pointer;
    transition: 200ms;
  }

  .divider {
    height: 2px;
    background-color: hsl(180, 15%, 80%);
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
