.container {
  width: 100%;
  background-color: hsl(180, 31%, 95%);
  position: absolute;
  top: -41.42px;
  border-radius: 7px;
  box-shadow: 0px 4px 23px -11px rgba(0, 0, 0, 0.34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

.tags {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.clearButton {
  font-size: 20px;
  color: hsl(180, 29%, 50%);
  margin-right: 40px;
}

.clearButton:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .tags {
    width: 100%;
    overflow: auto;
    margin-left: 0px;
  }

  .tagsWrapper {
    position: relative;
    width: 60%;
    overflow: auto;
    margin-left: 40px;
  }

  .gradient {
    background: rgb(2, 0, 36);
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: -1px;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(9, 9, 121, 0) 45%,
      rgba(238, 246, 246, 1) 100%
    );
    width: 50px;
    height: 100%;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
